:root {
	scroll-behavior:smooth;
	--darkred: #990000;
	--lightred: #F5EAEA;
	--focusred: #d90000;
	--white: #ffffff;
	--gray: #eeeeee;
	--redtowhite: linear-gradient(to right, #F5EAEA, #fff, #fff);
	--whitetored: linear-gradient(to right, #fff, #fff, #F5EAEA);
	--centergray: linear-gradient(to right, rgba(0,0,0,0), #eee, rgba(0,0,0,0));
}

body {
	width:45%;
	margin:auto;
	font-family:Tahoma, Geneva, Verdana, sans-serif;
	text-align:justify;
	text-justify:inter-word;
	line-height:1.3em;
}

#center {
	text-align:center;
}

#center > a {
	background-color: rgba(0,0,0,0);
	background-image:linear-gradient(rgba(0,0,0,0));
}

header {
	margin-bottom:2em;
	text-align:left;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

header > a {
	background-color:rgba(0,0,0,0);
	background-image:var(--redtowhite);
}

body > footer {
	margin-top:3em;
	text-align:right;
	margin-bottom:2em;
	font-family:Georgia, 'Times New Roman', Times, serif;
	background-color:rgba(0,0,0,0);
	background-image:var(--whitetored);
	padding-right:0.1em;
}

nav {
	line-height:1.3em;
}

h1 {
	background-color:var(--gray);
	margin-top:1.5em;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:1.5em;
	line-height:0.8em;
	text-align:center;
	align-content:center;
}

h2 {
	margin: 0px 0px 0.2em 0px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:1.1em;
	line-height:1.1em;
}

.solution {
	display:none;
}

h2 > button {
	float:right;
	background-color:var(--darkred);
	color:var(--white);
	border-radius:2px;
	border-style:none;
	cursor:pointer;
}

h2 > button:hover,
h2 > button:focus  {
	background-color:var(--focusred);
}

figure {
	text-align:center;
	margin-top:1em;
	margin-bottom:0em;
	display:block;
}

figure > img {
	max-width: 70%;
	min-width: 35%;
}

figure > figcaption {
	color:var(--darkred);
	font-size:0.85em;
	line-height: 1.1em;
	text-align:center;
	margin:auto;
	display:block;
	margin-bottom:1em;
	background-color:rgba(0,0,0,0);
	background-image:var(--centergray);
}

/*css for examples*/

.examples > figure > figcaption {
	background-color: rgba(0,0,0,0);
	background-image:linear-gradient(rgba(0,0,0,0));
}

.examples {
	display:block;
	background-color:var(--gray);
	padding:6px;
	margin: 0.75em 0px 0.75em 0px
}

.examples[hard] {
	background-color:var(--lightred);
}

.examples > h2 {
	margin-bottom:0.3em;
}

.examples > mark {
	float:right;
	display:block;
	background-color:rgba(0,0,0,0);
	width:2.4em;
	height:1.1em;
}

.examples > p {
	margin-top:-0.3em;
	margin-bottom:1em;
}

mark[custom]::after {
	display:block;
	content:url(icons/custom.svg);
	width:1.1em;
	height:1.1em;
	margin-left:0.1em;
	float:right;
	rotate: 90deg;
}

mark[variable]::before {
	display:block;
	content:url(icons/variable.svg);
	width:1.1em;
	height:1.1em;
	float:right;
	rotate: -90deg;
}

/* terms and equations */

.terms > mark {
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight:bold;
	background-color: rgba(0,0,0,0);
	color:var(--darkred);
}

.terms {
	margin: 0.5em 0 0.5em 0;
	display:block;
	text-align:left;
	color:var(--darkred);
	background-color: var(--white);
	background-image: var(--redtowhite)
}

math {
    math-style: normal;
}

.equations {
	text-align:center;
	display:block;
	line-height:2em;
	width:100%;
	overflow-x:auto;
	overflow-y:hidden;
}

math:has(mfrac) {
	margin: 0.3em 0 0.3em 0
}

main > .equations {
	color:var(--darkred);
}

/* links */

a {
	text-decoration:none;
}

a:visited {
	color:var(--darkred);
}

a:link {
	color:var(--darkred);
}

a:hover,
a:focus {
	color:var(--focusred);
}

p {
	margin: 0.5em 0 0.5em 0;
}

/* for tooltips */

intext:hover,
intext:focus {
	color:var(--focusred)
}

intext {
	color:var(--darkred);
	text-decoration: underline dotted;
	cursor: help;
 	position:relative
}

intext[tooltip]:hover::after,
intext[tooltip]:focus::after {
  content: attr(tooltip);
  position: absolute;
  left: 0px;
  width: 8em;
  text-align:left;
  border: 2px var(--focusred) solid;
  border-radius: 3px;
  background-color: var(--lightred);
  padding: 0.2em;
  color: var(--focusred);
  font-size: 1em;
  z-index: 1;
  top:1.5em;
  font-style:normal;
}

a[unfinished]{
		color:#999999;
}

a[unfinished]:hover{
		color:#d9d9d9;
		cursor:not-allowed;
}

footer[next]{
	margin-top:0.5em;
	font-style: italic;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
}

/*navigation*/

@media only screen and (max-width: 769px) {
	
	body{
		width:90%;
		font-size:0.9em;
		line-height: 1.3em;
	}

	intext[tooltip]:focus::after {
		position:fixed;
		width:50%;
		min-width:50%;
		margin-left:25%;
		content:attr(tooltip);
		float:left;
		padding:0.2em;
		top:1.5em;
		opacity:1;
		transition: opacity 0.2s;
	}

	intext[tooltip]::after {
		opacity:0;
	}

	#navigation {
		display:block;
		min-height:fit-content;
		width:49%;
		float:left;
		margin-right:1%;
		text-align:left;
	}

	math{
		font-size:1em;
		font-family:Georgia, 'Times New Roman', Times, serif
	}
}

@media only screen and (max-width: 426px) {
	figure > img {
		max-width:100%;
	}

	figure {
		width:85%;
		margin:0 7.5% 0 7.5%;
	}
}
