body {
	font-family:Tahoma, Geneva, Verdana, sans-serif;
	margin:auto;
	width:45%;
	text-align:justify;
	text-justify:inter-word;
	line-height:1.3em;
}

#center {
	text-align:center;
}

header {
	margin-bottom:2em;
	text-align:left;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

footer {
	margin-top:3em;
	text-align:right;
	margin-bottom:2em;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

nav {
	line-height:1.3em;
}

h1 {
	background-color:#EEEEEE;
	margin-top:1.5em;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:1.5em;
	line-height:0.8em;
	text-align:center;
	align-content:center;
}

h4 {
	margin: 0px 0px 0.2em 0px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:1.1em;
	line-height:1.1em;
}

.solution {
	display:none;
}

h4 > button {
	float:right;
	background-color:#990000;
	color:#FFFFFF;
	border-radius:2px;
	border-style:none;
	cursor:pointer;
}

h4 > button:hover,
h4 > button:focus  {
	background-color:#d90000;
}

figure {
	text-align:center;
	margin-top:1em;
	margin-bottom:0em;
	display:block;
}

figure > img {
	max-width:80%;
}

figurecaption {
	font-style:italic;
	font-size:0.8em;
	text-align:center;
	margin:auto;
	display:block;
	margin-bottom:1em;
}

/*css for examples*/

example {
	display:block;
	background-color:#EEEEEE;
	padding:6px;
	margin: 0.75em 0px 0.75em 0px
}


example[hard] {
	background-color:#F5EAEA;
}

example > h4 {
	margin-bottom:0.3em;
}

example > mark {
	float:right;
	display:block;
	background-color:rgba(0,0,0,0);
	width:2.4em;
	height:1.1em;
}

mark[custom]::after {
	display:block;
	content:url(icons/custom.svg);
	width:1.1em;
	height:1.1em;
	margin-left:0.1em;
	float:right;
	rotate: 90deg;
}

mark[variable]::before {
	display:block;
	content:url(icons/variable.svg);
	width:1.1em;
	height:1.1em;
	float:right;
	rotate: -90deg;
}

term {
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight:bold;
}

termdecl {
	margin: 0.5em 0 0.5em 0;
	display:block;
	text-align:left;
	color:#900;
}

eq {
	text-align:center;
	display:block;
	line-height:2em;
	width:100%;
	overflow-x:auto;
	overflow-y:hidden;
}

body > eq {
	color:#900;
}

a {
	text-decoration:none;
}

a:visited {
	color:#990000;
}

a:link {
	color:#990000;
}

a:hover,
a:focus {
	color:#d90000;
}

p {
	margin: 0.5em 0 0.5em 0;
}

/* for tooltips */

intext:hover,
intext:focus {
	color:#d90000
}

intext {
	color:#990000;
	text-decoration: underline dotted;
	cursor: help;
 	position:relative
}

intext[tooltip]:hover::after,
intext[tooltip]:focus::after {
  content: attr(tooltip);
  position: absolute;
  left: 0px;
  width: 8em;
  text-align:left;
  border: 2px #d90000 solid;
  border-radius: 3px;
  background-color: #F5EAEA;
  padding: 0.2em;
  color: #d90000;
  font-size: 1em;
  z-index: 1;
  top:1.5em;
  font-style:normal;
}

a[unfinished]{
		color:#999999;
}

a[unfinished]:hover{
		color:#d9d9d9;
		cursor:not-allowed;
}

footer[next]{
	margin-top:0.5em;
	font-style: italic;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
}

/*navigation*/

#navigation {
	display:block;
	height:auto;
	width:50%;
	float:left;
	counter-reset: count 0;
}

#navigation > nav[reset] {
	counter-reset: count 0;
}

#navigation > nav {
	width:100%;
	margin-bottom:0.5em;
}

navlink {
	display:flex;
	text-align:left;
	counter-increment: count 1;
}

navlink::before {
	content:"(" counter(count,decimal) ")";
	float:left;
	margin-right:0.2em;
}

navlink[lower-alpha]::before {
	content:"(" counter(count,lower-alpha) ")";
	float:left;
	margin-right:0.2em;
}

@media only screen and (max-width: 769px) {
	body {
		width:90%;
		font-size:0.9em;
		line-height: 1.23em;
	}

	intext[tooltip]:focus::after {
		position:fixed;
		width:50%;
		min-width:50%;
		margin-left:25%;
		content:attr(tooltip);
		float:left;
		padding:0.2em;
		top:1.5em;
		opacity:1;
		transition: opacity 0.2s;
	}

	intext[tooltip]::after {
		opacity:0;
	}

	#navigation {
	display:block;
	min-height:fit-content;
	width:49%;
	float:left;
	margin-right:1%;
	text-align:left;
	}

	math{
		font-size:1em;
		font-family:Georgia, 'Times New Roman', Times, serif
	}
}

@media only screen and (max-width: 426px) {
	figure > img {
		max-width:100%;
	}

	figure {
		width:85%;
		margin:0 7.5% 0 7.5%;
	}
}
